@import "./utils/index";
@import "./vendor/bootstrap";
@mixin call-font-size($normal: 18px, $downSm: 16px) {
  @include font-size($normal);
  @include media-breakpoint-down(sm){
    @include font-size($downSm);
  }
}

html{
  body {
    main {
      &.container {
        max-width: 500px;
      }
    }
  }
}

.#{$namespace} {
    &-section {
      h2 {
        @include call-font-size(18px);
      }
      &:nth-child(odd){
        background-color: #{$light};
      }
    }
    &-details {
      summary {
        @include call-font-size(18px);
      }
    }
  &-img{
    img {
      width: 100%;
    }
  }
}
